@import url('https://fonts.googleapis.com/css?family=Raleway');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  font-size: 16px;
}

html,h1,h2,h3,h4,h5,h6,a{
  font-family: "Raleway";
}

body {
  margin: 0;
  background-color: #093145;
  color: whitesmoke;
  overflow: auto;
  position: relative;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  animation: fade-slide-in 0.4s ease-out forwards;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2, .h2 {
  font-size: calc(1.25rem + 0.9vw);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl {
  display: flex;
  flex-flow: column;
  margin: 1.5rem;
  flex-basis: 180px;
  flex-wrap: wrap;
}

dt {
  font-weight: 700;
  font-size: 1.2rem;
}

dd {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  margin-left: 0;
  font-size: 0.8rem;
  font-weight: lighter;
  color: whitesmoke;
}

header {
  width: 100%;
  display: flex;
  height: 4rem;
  color: #093145;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: #BCA136;
}

header button {
  font: inherit;
  padding: 0.15rem 1rem;
  border: 0;
  border-radius: 15px;
  background-color: transparent;
  color: #093145;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}

header button:hover,
header button:active {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: #093145;
  box-shadow: 0 2px 10px rgba(20, 0, 0, 0.5);
}

button:focus {
  outline: none;
}

.btn {
  font: inherit;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: 1px solid #093145;
  background: transparent;
  border-radius: 15px;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
}

span {
  font-size: 2rem;
}

.welcome-text {
  margin: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.form {
  display: hidden;
  width: 70%;
  padding: 0.375rem 0.95rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.45;
  color: #093145;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: fixed;
  z-index: 100;
  margin: 0 auto;
  top: 30vh;
  left: 15%;
}

.form__title {
  text-align: center;
  font-weight: 800;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #093145;
  background: whitesmoke;
  color: #093145;
  border-radius: 12px 0;
}

.form__content {
  padding: 1rem;
  border: 0;
}

.form__actions {
  position: relative;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

input[type=text], 
select,
input[type=datetime-local]{
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  display: inline-block; 
  font-weight: lighter; 
}

input[type=submit],
input[type=button] {
  padding: 0.4rem 1.2rem;
  margin: 0.2rem 0.5rem;
  border-radius: 1rem;
  flex: 1;
  max-width: 400px;
}

input, select {
  font: inherit;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem 0.3rem;
  color: #093145;
}

input:focus, select:focus {
  outline: none;
  background: #f9e9e9;
  border-bottom: 3px solid #093145;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #093145;
}

.btn--danger:focus,
.btn--danger:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  border-bottom: 0;
}

.btn--passive {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
  background: #f7a9a9;
  border-bottom: 0;
}

.btn--danger {
  background: transparent;
}

main {
  width: 80%;
  margin: 0 auto;
}

.todo-block {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 0 10px;
  border-radius: 4px;
  align-items: center;
}

.checkbox {
  margin-right: 2rem;
  cursor: pointer;
  position: absolute;
}

.tododiv {
  margin: 1rem;
  background-color: #BCA136;
  border-radius: 0.45rem;
  width: auto;
  padding: 0.3rem;
  display: flex;
  position: relative;
  flex: 1;
  flex-basis: 200px;
}

.elementLabel .btn {
  font-size: inherit;
  font-weight: lighter;
  border: none;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 5px;
}

.elementLabel .btn:hover {
  color: black;
}

.modal {
  position: absolute;
  left: 20%;
  right: 20%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
  filter: grayscale(50%) contrast(0.95);
  color: #093145;
  top: 20vh;
  padding: 1.5rem;
  border-radius: 0.45rem;
}

.modal__title,
.modal__content,
.modal__actions {
  text-align: center;
  line-height: 2;
  margin-bottom: 2rem;
}

.modal__title {
  margin-top: 0;
  font-weight: 700;
}

.modal__actions {
  display: inline-flex;
  width: 100%;
  justify-content: space-around
}

.modal__actions > * {
  flex: 1;
  flex-direction: row;
  max-width: 300px;
}

.modal__actions :first-child {
  background: transparent;
  border: 1px solid #093145;
  box-shadow: none;
}

.modal__actions :first-child:hover,
.modal__actions :first-child:active,
.modal__actions :first-child:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.modal__actions :last-child {
  background: #eb0909;
  border: 0;
  box-shadow: none;
}

.modal__actions :last-child:hover,
.modal__actions :last-child:focus, 
.modal__actions :last-child:active{
  background: red;
}

@media screen and (max-width: 610px) {
  main {
    width: 90%
  }

  header button {
    font-size: 1.65rem;
  }

  .tododiv {
    min-width: 120px;
    margin: 0.75rem;
  }

  dd {
    font-weight: lighter;
    margin-bottom: 0;
  }

  dt {
    font-size: 0.85rem;
  }

  dl {
    margin: 0.9rem;
  }

  .modal {
    clear: both;
    margin: 0.65rem;
    padding: 0.75rem;
  }
  
  label, 
  div.form__actions {
    font-size: 0.85rem;
  }

  div.form__actions {
    display: flex;
    justify-content: space-around;
  }

  p.modal__content {
    font-size: 0.85rem;
  }

  .modal__actions {
    margin-bottom: 0;
    line-height: 1.5;
    flex-direction: column;
  }

  .modal__actions > * {
    font-size: 0.75rem;
  }

  div.form__actions {
      flex-direction: column-reverse;
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0px);
  }
}
